<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>controller.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProblemList</servlet-name>
        <servlet-class>controller.viewProblemList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProbList</servlet-name>
        <servlet-class>controller.viewProbList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getACropAssessment</servlet-name>
        <servlet-class>controller.getACropAssessment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCalendar</servlet-name>
        <servlet-class>controller.viewCalendar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getRecomList</servlet-name>
        <servlet-class>controller.getRecomList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProbDetails</servlet-name>
        <servlet-class>controller.viewProbDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPostDetails</servlet-name>
        <servlet-class>controller.viewPostDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showDisasterReport</servlet-name>
        <servlet-class>controller.showDisasterReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectPost</servlet-name>
        <servlet-class>controller.RejectPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRecList</servlet-name>
        <servlet-class>controller.viewRecList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRecTableList</servlet-name>
        <servlet-class>controller.viewRecTableList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRecDetails</servlet-name>
        <servlet-class>controller.viewRecDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFRTable</servlet-name>
        <servlet-class>controller.viewFRTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPlansProblemTable</servlet-name>
        <servlet-class>controller.viewPlansProblemTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPRT</servlet-name>
        <servlet-class>controller.viewPRT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNewProgram</servlet-name>
        <servlet-class>controller.createNewProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNewProblem</servlet-name>
        <servlet-class>controller.createNewProblem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProgramsTable</servlet-name>
        <servlet-class>controller.viewProgramsTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProgramDetails</servlet-name>
        <servlet-class>controller.viewProgramDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateKPIProgram</servlet-name>
        <servlet-class>controller.updateKPIProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadTreeMapData</servlet-name>
        <servlet-class>controller.loadTreeMapData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createNewRecommendation</servlet-name>
        <servlet-class>controller.createNewRecommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendAlert</servlet-name>
        <servlet-class>controller.sendAlert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAlertByBarangay</servlet-name>
        <servlet-class>controller.viewAlertByBarangay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDisastersList</servlet-name>
        <servlet-class>controller.viewDisastersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewspecificAlerts</servlet-name>
        <servlet-class>controller.viewspecificAlerts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmerProfile</servlet-name>
        <servlet-class>controller.viewFarmerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmerRecT</servlet-name>
        <servlet-class>controller.viewFarmerRecT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmerProbT</servlet-name>
        <servlet-class>controller.viewFarmerProbT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewForumList</servlet-name>
        <servlet-class>controller.viewForumList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmersFieldTable</servlet-name>
        <servlet-class>controller.viewFarmersFieldTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchSimilarFarms</servlet-name>
        <servlet-class>controller.searchSimilarFarms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFieldDetails</servlet-name>
        <servlet-class>controller.viewFieldDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createTagList</servlet-name>
        <servlet-class>controller.createTagList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmDifferences</servlet-name>
        <servlet-class>controller.viewFarmDifferences</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewWeatherTrends</servlet-name>
        <servlet-class>controller.viewWeatherTrends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSendRec</servlet-name>
        <servlet-class>controller.viewSendRec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDistCropEstimate</servlet-name>
        <servlet-class>controller.viewDistCropEstimate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewMuniCropEst</servlet-name>
        <servlet-class>controller.viewMuniCropEst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewDiffDistEst</servlet-name>
        <servlet-class>controller.viewDiffDistEst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCompChartData</servlet-name>
        <servlet-class>controller.loadCompChartData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCropEstYearList</servlet-name>
        <servlet-class>controller.loadCropEstYearList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovePost</servlet-name>
        <servlet-class>controller.ApprovePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadEstimatesLineData</servlet-name>
        <servlet-class>controller.loadEstimatesLineData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateForecast</servlet-name>
        <servlet-class>controller.generateForecast</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitCA</servlet-name>
        <servlet-class>controller.submitCA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadProgramsProductionChart</servlet-name>
        <servlet-class>controller.loadProgramsProductionChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadTreeMapYearList</servlet-name>
        <servlet-class>controller.loadTreeMapYearList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMunicSumYrsChart</servlet-name>
        <servlet-class>controller.loadMunicSumYrsChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadAllBrgysChart</servlet-name>
        <servlet-class>controller.loadAllBrgysChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewBrgyMuniTable</servlet-name>
        <servlet-class>controller.viewBrgyMuniTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewBrgySummary</servlet-name>
        <servlet-class>controller.viewBrgySummary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCropAssessment</servlet-name>
        <servlet-class>controller.viewCropAssessment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadBrgySumYrsChart</servlet-name>
        <servlet-class>controller.loadBrgySumYrsChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadAllFarmersChart</servlet-name>
        <servlet-class>controller.loadAllFarmersChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmerBrgyTable</servlet-name>
        <servlet-class>controller.viewFarmerBrgyTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>linkToProblem</servlet-name>
        <servlet-class>controller.linkToProblem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkToRecommendation</servlet-name>
        <servlet-class>controller.LinkToRecommendation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewWeatherRecommendations</servlet-name>
        <servlet-class>controller.viewWeatherRecommendations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRec4Forum</servlet-name>
        <servlet-class>controller.viewRec4Forum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewWeeklyProducedReport</servlet-name>
        <servlet-class>controller.viewWeeklyProducedReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewWeeklyProducedReportByWeek</servlet-name>
        <servlet-class>controller.viewWeeklyProducedReportByWeek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewWeeklyProducedReportByRegion</servlet-name>
        <servlet-class>controller.viewWeeklyProducedReportByRegion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewWeeklyProducedReportByRegionT</servlet-name>
        <servlet-class>controller.viewWeeklyProducedReportByRegionT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CitiesProdDetails</servlet-name>
        <servlet-class>controller.CitiesProdDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOnGoingProjects</servlet-name>
        <servlet-class>controller.viewOnGoingProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>printCA</servlet-name>
        <servlet-class>controller.printCA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editDates</servlet-name>
        <servlet-class>controller.editDates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSelectedRecommendations</servlet-name>
        <servlet-class>controller.viewSelectedRecommendations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendAlertToFarmers</servlet-name>
        <servlet-class>controller.sendAlertToFarmers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSelectedProblems</servlet-name>
        <servlet-class>controller.viewSelectedProblems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>determineFarmProblems</servlet-name>
        <servlet-class>controller.determineFarmProblems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendRelatedRec</servlet-name>
        <servlet-class>controller.sendRelatedRec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOtherRecommendations</servlet-name>
        <servlet-class>controller.viewOtherRecommendations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveComment</servlet-name>
        <servlet-class>controller.saveComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MDOHomepage</servlet-name>
        <servlet-class>controller.MDOHomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOngoingProjectsBoard</servlet-name>
        <servlet-class>controller.viewOngoingProjectsBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTestEstimates</servlet-name>
        <servlet-class>controller.viewTestEstimates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPhasesDates</servlet-name>
        <servlet-class>controller.viewPhasesDates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDurationByPhases</servlet-name>
        <servlet-class>controller.updateDurationByPhases</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeSelectedForecastforYear</servlet-name>
        <servlet-class>controller.changeSelectedForecastforYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCropEstimate</servlet-name>
        <servlet-class>controller.viewCropEstimate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCropEstimateTestRow</servlet-name>
        <servlet-class>controller.deleteCropEstimateTestRow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllFarmers</servlet-name>
        <servlet-class>controller.viewAllFarmers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCropEstimateBoard</servlet-name>
        <servlet-class>controller.viewCropEstimateBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCompChatDataLkg</servlet-name>
        <servlet-class>controller.loadCompChatDataLkg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadEstimatesLineDataLkg</servlet-name>
        <servlet-class>controller.loadEstimatesLineDataLkg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeSelectedLkgForecastforYear</servlet-name>
        <servlet-class>controller.changeSelectedLkgForecastforYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewLkgTestEstimates</servlet-name>
        <servlet-class>controller.viewLkgTestEstimates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteLkgEstimateTestRow</servlet-name>
        <servlet-class>controller.deleteLkgEstimateTestRow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateLkgForecast</servlet-name>
        <servlet-class>controller.generateLkgForecast</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendRelatedRecObserv</servlet-name>
        <servlet-class>controller.sendRelatedRecObserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewSendRecObserv</servlet-name>
        <servlet-class>controller.viewSendRecObserv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>useComment</servlet-name>
        <servlet-class>controller.useComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPostList</servlet-name>
        <servlet-class>controller.viewPostList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>linktoPost</servlet-name>
        <servlet-class>controller.linktoPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAllCropAssessment</servlet-name>
        <servlet-class>controller.viewAllCropAssessment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DistinctCropYearList</servlet-name>
        <servlet-class>controller.DistinctCropYearList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTopTen</servlet-name>
        <servlet-class>controller.viewTopTen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProbListWeek</servlet-name>
        <servlet-class>controller.viewProbListWeek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectReportList</servlet-name>
        <servlet-class>controller.selectReportList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewRecListWeek</servlet-name>
        <servlet-class>controller.viewRecListWeek</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewFarmerProgT</servlet-name>
        <servlet-class>controller.viewFarmerProgT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewOtherProblems</servlet-name>
        <servlet-class>controller.viewOtherProblems</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFarmerProfile</servlet-name>
        <url-pattern>/viewFarmerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitCA</servlet-name>
        <url-pattern>/submitCA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCalendar</servlet-name>
        <url-pattern>/viewCalendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewWeatherTrends</servlet-name>
        <url-pattern>/viewWeatherTrends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNewRecommendation</servlet-name>
        <url-pattern>/createNewRecommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showDisasterReport</servlet-name>
        <url-pattern>/showDisasterReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSendRec</servlet-name>
        <url-pattern>/viewSendRec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProblemList</servlet-name>
        <url-pattern>/viewProblemList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProbList</servlet-name>
        <url-pattern>/viewProbList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRecTableList</servlet-name>
        <url-pattern>/viewRecTableList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getACropAssessment</servlet-name>
        <url-pattern>/getACropAssessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getRecomList</servlet-name>
        <url-pattern>/getRecomList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProbDetails</servlet-name>
        <url-pattern>/viewProbDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCropAssessment</servlet-name>
        <url-pattern>/viewCropAssessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRecList</servlet-name>
        <url-pattern>/viewRecList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRecDetails</servlet-name>
        <url-pattern>/viewRecDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPostDetails</servlet-name>
        <url-pattern>/viewPostDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovePost</servlet-name>
        <url-pattern>/ApprovePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectPost</servlet-name>
        <url-pattern>/RejectPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFRTable</servlet-name>
        <url-pattern>/viewFRTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNewProblem</servlet-name>
        <url-pattern>/createNewProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPlansProblemTable</servlet-name>
        <url-pattern>/viewPlansProblemTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPRT</servlet-name>
        <url-pattern>/viewPRT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createNewProgram</servlet-name>
        <url-pattern>/createNewProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProgramsTable</servlet-name>
        <url-pattern>/viewProgramsTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProgramDetails</servlet-name>
        <url-pattern>/viewProgramDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateKPIProgram</servlet-name>
        <url-pattern>/updateKPIProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadTreeMapData</servlet-name>
        <url-pattern>/loadTreeMapData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendAlert</servlet-name>
        <url-pattern>/sendAlert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAlertByBarangay</servlet-name>
        <url-pattern>/viewAlertByBarangay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDisastersList</servlet-name>
        <url-pattern>/viewDisastersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewForumList</servlet-name>
        <url-pattern>/viewForumList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewspecificAlerts</servlet-name>
        <url-pattern>/viewspecificAlerts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFarmerRecT</servlet-name>
        <url-pattern>/viewFarmerRecT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFarmerProbT</servlet-name>
        <url-pattern>/viewFarmerProbT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFarmersFieldTable</servlet-name>
        <url-pattern>/viewFarmersFieldTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchSimilarFarms</servlet-name>
        <url-pattern>/searchSimilarFarms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFieldDetails</servlet-name>
        <url-pattern>/viewFieldDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createTagList</servlet-name>
        <url-pattern>/createTagList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFarmDifferences</servlet-name>
        <url-pattern>/viewFarmDifferences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDistCropEstimate</servlet-name>
        <url-pattern>/viewDistCropEstimate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewMuniCropEst</servlet-name>
        <url-pattern>/viewMuniCropEst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewDiffDistEst</servlet-name>
        <url-pattern>/viewDiffDistEst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCompChartData</servlet-name>
        <url-pattern>/loadCompChartData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCropEstYearList</servlet-name>
        <url-pattern>/loadCropEstYearList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadEstimatesLineData</servlet-name>
        <url-pattern>/loadEstimatesLineData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateForecast</servlet-name>
        <url-pattern>/generateForecast</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadProgramsProductionChart</servlet-name>
        <url-pattern>/loadProgramsProductionChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadTreeMapYearList</servlet-name>
        <url-pattern>/loadTreeMapYearList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMunicSumYrsChart</servlet-name>
        <url-pattern>/loadMunicSumYrsChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadAllBrgysChart</servlet-name>
        <url-pattern>/loadAllBrgysChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewBrgyMuniTable</servlet-name>
        <url-pattern>/viewBrgyMuniTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewBrgySummary</servlet-name>
        <url-pattern>/viewBrgySummary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadBrgySumYrsChart</servlet-name>
        <url-pattern>/loadBrgySumYrsChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadAllFarmersChart</servlet-name>
        <url-pattern>/loadAllFarmersChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFarmerBrgyTable</servlet-name>
        <url-pattern>/viewFarmerBrgyTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>linkToProblem</servlet-name>
        <url-pattern>/linkToProblem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkToRecommendation</servlet-name>
        <url-pattern>/LinkToRecommendation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewWeatherRecommendations</servlet-name>
        <url-pattern>/viewWeatherRecommendations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRec4Forum</servlet-name>
        <url-pattern>/viewRec4Forum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewWeeklyProducedReport</servlet-name>
        <url-pattern>/viewWeeklyProducedReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewWeeklyProducedReportByWeek</servlet-name>
        <url-pattern>/viewWeeklyProducedReportByWeek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewWeeklyProducedReportByRegion</servlet-name>
        <url-pattern>/viewWeeklyProducedReportByRegion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewWeeklyProducedReportByRegionT</servlet-name>
        <url-pattern>/viewWeeklyProducedReportByRegionT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CitiesProdDetails</servlet-name>
        <url-pattern>/CitiesProdDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOnGoingProjects</servlet-name>
        <url-pattern>/viewOnGoingProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>printCA</servlet-name>
        <url-pattern>/printCA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editDates</servlet-name>
        <url-pattern>/editDates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSelectedRecommendations</servlet-name>
        <url-pattern>/viewSelectedRecommendations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendAlertToFarmers</servlet-name>
        <url-pattern>/sendAlertToFarmers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSelectedProblems</servlet-name>
        <url-pattern>/viewSelectedProblems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendRelatedRec</servlet-name>
        <url-pattern>/sendRelatedRec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>determineFarmProblems</servlet-name>
        <url-pattern>/determineFarmProblems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOtherRecommendations</servlet-name>
        <url-pattern>/viewOtherRecommendations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveComment</servlet-name>
        <url-pattern>/saveComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MDOHomepage</servlet-name>
        <url-pattern>/MDOHomepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOngoingProjectsBoard</servlet-name>
        <url-pattern>/viewOngoingProjectsBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTestEstimates</servlet-name>
        <url-pattern>/viewTestEstimates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPhasesDates</servlet-name>
        <url-pattern>/viewPhasesDates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDurationByPhases</servlet-name>
        <url-pattern>/updateDurationByPhases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeSelectedForecastforYear</servlet-name>
        <url-pattern>/changeSelectedForecastforYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCropEstimate</servlet-name>
        <url-pattern>/viewCropEstimate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCropEstimateTestRow</servlet-name>
        <url-pattern>/deleteCropEstimateTestRow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllFarmers</servlet-name>
        <url-pattern>/viewAllFarmers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCropEstimateBoard</servlet-name>
        <url-pattern>/viewCropEstimateBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCompChatDataLkg</servlet-name>
        <url-pattern>/loadCompChatDataLkg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadEstimatesLineDataLkg</servlet-name>
        <url-pattern>/loadEstimatesLineDataLkg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeSelectedLkgForecastforYear</servlet-name>
        <url-pattern>/changeSelectedLkgForecastforYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewLkgTestEstimates</servlet-name>
        <url-pattern>/viewLkgTestEstimates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteLkgEstimateTestRow</servlet-name>
        <url-pattern>/deleteLkgEstimateTestRow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateLkgForecast</servlet-name>
        <url-pattern>/generateLkgForecast</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendRelatedRecObserv</servlet-name>
        <url-pattern>/sendRelatedRecObserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewSendRecObserv</servlet-name>
        <url-pattern>/viewSendRecObserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>useComment</servlet-name>
        <url-pattern>/useComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPostList</servlet-name>
        <url-pattern>/viewPostList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>linktoPost</servlet-name>
        <url-pattern>/linktoPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAllCropAssessment</servlet-name>
        <url-pattern>/viewAllCropAssessment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DistinctCropYearList</servlet-name>
        <url-pattern>/DistinctCropYearList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProbListWeek</servlet-name>
        <url-pattern>/viewProbListWeek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectReportList</servlet-name>
        <url-pattern>/selectReportList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewRecListWeek</servlet-name>
        <url-pattern>/viewRecListWeek</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTopTen</servlet-name>
        <url-pattern>/viewTopTen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewFarmerProgT</servlet-name>
        <url-pattern>/viewFarmerProgT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewOtherProblems</servlet-name>
        <url-pattern>/viewOtherProblems</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
