<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>controller.BaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseRequestServlet</servlet-name>
        <servlet-class>controller.PurchaseRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpenditureServlet</servlet-name>
        <servlet-class>controller.ExpenditureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetServlet</servlet-name>
        <servlet-class>controller.AssetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseOrderServlet</servlet-name>
        <servlet-class>controller.PurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveryInspectionServlet</servlet-name>
        <servlet-class>controller.DeliveryInspectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-class>controller.InventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>controller.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchaseRequestServlet</servlet-name>
        <url-pattern>/PurchaseRequest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpenditureServlet</servlet-name>
        <url-pattern>/ExpenditureServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetServlet</servlet-name>
        <url-pattern>/AssetServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseOrderServlet</servlet-name>
        <url-pattern>/PurchaseOrderServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveryInspectionServlet</servlet-name>
        <url-pattern>/DeliveryInspectionServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryServlet</servlet-name>
        <url-pattern>/InventoryServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
