/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2018, 3:51:02 PM
    Author     : RubySenpaii
*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: 2vw;
}

.sidebar-footer {
    text-align: center;
    bottom: 2vw;
    position: absolute;
    width: inherit;
    height: 30px;
    background-color: #777;
}

.sidebar-footer>a {
    text-align: center;
    color: white;
    font-size: x-large;
    margin: 15px;
}

.header-limit {
    text-align: center;
    font-size: large;
    margin: 0 auto;
    width: 31vw;
    color: white;
    font-weight: 300;
}

.fill-header {
    width: available;
}

.quantity {
    width: 60px;
}

.price {
    width: 95%;
}